.rcv_autoScaleImageContainer {
    position: relative;

    .rcv_autoScaleImage {
		width: 24px;
        position: absolute;
        top: 50%;
        /* @noflip */
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%);
    }
	
}

#htmlwidget_container {
	height: 82vh; 
	overflow: auto;
}

.pvtRows {
	background-color: #3f3f3f;
}

.pvtCols {
	background-color: #3f3f3f;
}

.pvtVal {
	font-size: 14px;
}

.pvtTotal {
	font-size: 14px;
}

.pvtGrandTotal {
	font-size: 14px;
}

.pvtAttr {
	font-size: 14px;
}

.pvtAxisLabel {
	background-color: #3f3f3f;
	color: #ffffff;
	font-size: 14px;
}

.pvtRowLabel {
	font-size: 14px;
}

.pvtColLabel {
	font-size: 14px;
}

.pvtTotal {
	font-size: 14px;
}