.visual-rPivotTable8B3D024D64314B469FFC4852A7ACBD5F_DEBUG .rcv_autoScaleImageContainer {
  position: relative;
}
.visual-rPivotTable8B3D024D64314B469FFC4852A7ACBD5F_DEBUG .rcv_autoScaleImageContainer .rcv_autoScaleImage {
  width: 24px;
  position: absolute;
  top: 50%;
  /* @noflip */
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}
.visual-rPivotTable8B3D024D64314B469FFC4852A7ACBD5F_DEBUG #htmlwidget_container {
  height: 82vh;
  overflow: auto;
}
